<!DOCTYPE html>
<html lang="en">
<head>
    <title>我的人生</title>
    <#include "/common/pcVersion.html"/>
    <style>
        .login-box {
            border: 1px solid #DCDFE6;
            width: 350px;
            margin: 180px auto;
            padding: 35px 35px 15px 35px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            box-shadow: 0 0 25px #909399;
        }

        .login-title {
            text-align: center;
            margin: 0 auto 40px auto;
            color: #303133;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-form ref="loginForm" :model="form" :rules="rules" label-width="80px" class="login-box" @keydown.enter.native="doLogin('loginForm')">
            <h3 class="login-title">欢迎登录我的人生</h3>
            <el-form-item label="手机号" prop="mobilePhone">
                <el-input type="text" placeholder="请输入手机号" v-model="form.mobilePhone"/>
            </el-form-item>
            <el-form-item label="验证码" prop="verificationCode">
                <el-input type="password" placeholder="请输入验证码" v-model="form.verificationCode" />
            </el-form-item>
            <el-form-item>
                <el-button style="width:40%;" type="primary" @click="doLogin('loginForm')">登录</el-button>
                <el-button style="width:40%;" @click="resetForm('loginForm')">重置</el-button>
            </el-form-item>
        </el-form>
    </div>
<script>
    var Main = {
        data() {
            return {
                form:{
                    mobilePhone:'',
                    verificationCode:'mylife',
                },
                // 表单验证，需要在 el-form-item 元素中增加 prop 属性
                rules: {
                    mobilePhone: [
                        {required: true, message: '手机号不能为空', trigger: 'blur'}
                    ],
                    verificationCode: [
                        {required: true, message: '验证码不能为空', trigger: 'blur'}
                    ]
                },
            }
        },
        methods: {
            //登录
            doLogin(formName) {
                // 为表单绑定验证功能
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.$http.get('/login/loginByMobilePhone',{
                            params:this.form
                        }).then(function (res) {
                            if(res.body.success){
                                location.href = '/login';
                            }else{
                                this.$message({
                                    type: 'error',
                                    message: res.body.message,
                                    duration:1500,
                                    showClose: true,
                                    center:true,
                                });
                            }
                        })
                    } else {
                        return false;
                    }
                });
            },
            //重置表单
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    };
    var Ctor = Vue.extend(Main);
    new Ctor().$mount('#app');
</script>
</body>
</html>